<!DOCTYPE html5>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head">
<title>Tambah Barang</title>
</head>
<body id="page-top">
	<!-- Header -->
	<nav th:replace="fragments/body::header"></nav>
	<!-- end Header -->
	<div id="wrapper">
		<!-- sidebar -->
		<ul th:replace="fragments/body::samping">
		</ul>
		<!-- end sidebar -->
		<div id="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Form Profil
							Peminjam</a></li>
				</ol>
				<!-- Icon Cards-->
				<div class="row"></div>
				<!-- Area Chart Example-->
				<div class="card mb-3"></div>
				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-address-book"></i> Tambahkan barang ke
						peminjaman.
					</div>
					<!--Form data pribadi-->
					<div class="card-body">
						<form>
							<!-- <select class="sol" name="wajib" multiple="multiple"
								required="required">
								<option th:each="barang : ${barang}"
									th:value="${barang.id}" th:text="${barang.namaBarang}"></option>
							</select>-->

							<div class="form-group">
								<div class="col-md-6" th:each="barang: ${barang}">
									<li><input type="checkbox" th:field="${barang}"
										th:value="${barang.id}" /> <label
										th:text="${barang.namaBarang}"></label></li>
									<div class="form-label-group">
										<input type="number" id="inputKuantitasTersedia"
											class="form-control" placeholder="Kuantitas Tersedia"
											required="required"></input><label
											for="inputKuantitasTersedia">Kuantitas Tersedia</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<a class="btn btn-primary btn-block" href="">Tambahkan
										Barang ke Peminjaman</a>
								</div>
							</div>
						</form>
					</div>
					<!--Form data pribadi end-->
				</div>
				<!--Form data peminjaman end-->
				<div class="card-footer small text-muted">Updated yesterday at
					11:59 PM</div>
			</div>
		</div>
		<!-- /.container-fluid -->
		<!-- Sticky Footer -->
		<!--<footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
              </div>
            </div>
            </footer>-->
	</div>
	<!-- /.content-wrapper -->

	<!-- /#wrapper -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div th:replace="fragments/body::modalLogout"></div>
	<!-- end Logout Modal-->

	<!-- jscript -->
	<div th:replace="fragments/head::jscript"></div>
	<!-- end jscript -->
</body>
</html>