<!DOCTYPE html5>
<html lang="en">
<head th:replace="fragments/head::head">
<title>Form Edit Peminjaman Barang</title>
</head>
<body id="page-top">
	<!-- Header -->
	<nav th:replace="fragments/body::header"></nav>
	<!-- end Header -->
	<div id="wrapper">
		<!-- sidebar -->
		<ul th:replace="fragments/body::samping">
		</ul>
		<!-- end sidebar -->
		<div id="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Form Peminjaman
							Barang</a></li>
				</ol>
				<!-- Icon Cards-->
				<div class="row"></div>
				<!-- Area Chart Example-->
				<div class="card mb-3"></div>
				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-address-book"></i> Lengkapi data peminjam untuk
						melakukan peminjaman.
					</div>
					<!--Form data pribadi-->
					<div class="card-body">
						<form>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="firstName" class="form-control"
											placeholder="First name" required="required"
											autofocus="autofocus"></input> <label for="firstName">Nama</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="inputNPM" class="form-control"
											placeholder="NPM" required="required"></input> <label
											for="inputNPM">NPM</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="inputInstansi" class="form-control"
											placeholder="Instansi" required="required"></input> <label
											for="inputInstansi">Instansi</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="inputTelp" pattern="[0-9]"
											class="form-control" placeholder="Telepon/HP"
											required="required"></input> <label for="inputTelp">Telepon/HP</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="inputAlamat" class="form-control"
											placeholder="Alamat" required="required"></input> <label
											for="inputAlamat">Alamat</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<a class="btn btn-primary btn-block" href="">Lengkapi Data
										Peminjam</a>
								</div>
							</div>
						</form>
					</div>
					<!--Form data pribadi end-->
					<div class="card-header">
						<i class="far fa-file"></i> Isi form untuk melakukan peminjaman
						barang
					</div>


					<!--Form data peminjaman-->
					<div class="card-body">
						<form th:object="${peminjaman}"
							th:action="@{/sipen/EditPeminjaman/submit}" method="post">
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input id="id" type="hidden" class="form-control"
											placeholder="id" th:field="*{id}"></input>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<p>Tujuan peminjaman</p>
									</div>
									<!--Checkbox-->
									<select name="tujuanPinjam" th:field="*{tujuanPinjam}">
										<option th:value="''">--Pilih Tujuan Peminjaman</option>
										<option th:value="'Kuliah Lapang'">Kuliah Lapang</option>
										<option th:value="'Praktikum'">Praktikum</option>
										<option th:value="'Survey TA'">Survey TA</option>
										<option th:value="'Penelitian'">Penelitian</option>
									</select>
									<div id="other-input-container"></div>
								</div>
								<!--end Checkbox-->
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="inputTempat" class="form-control"
											placeholder="Tempat Penggunaan" required="required"
											th:field="*{tempatPeminjaman}"></input> <label
											for="inputTempat">Tempat Penggunaan</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="inputTempat" class="form-control"
											placeholder="Deskripsi" required="required"
											th:field="*{deskripsi}"></input> <label for="inputTempat">Deskripsi</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="date" id="inputTanggalAwal" class="form-control"
											placeholder="Tanggal Peminjaman" required="required"
											th:field="*{tanggalPinjam}"></input> <label
											for="inputTanggalAwal">Tanggal Peminjaman</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="date" id="inputTanggalAkhir" pattern="[0-9]"
											class="form-control" placeholder="Tanggal Pengembalian"
											required="required" th:field=" *{tanggalPengembalian}">
										</input> <label for="inputTanggalAkhir">Tanggal Pengembalian</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<button class="btn btn-primary btn-block" type="submit"
										name="action" value="save">Ubah Peminjaman</button>
								</div>
							</div>
						</form>
					</div>
					<!--Form data peminjaman end-->
					<div class="card-footer small text-muted">Updated yesterday
						at 11:59 PM</div>
				</div>
			</div>
			<!-- /.container-fluid -->
			<!-- Sticky Footer -->
			<!--<footer class="sticky-footer">
               <div class="container my-auto">
                 <div class="copyright text-center my-auto">
                   <span>Copyright © Your Website 2018</span>
                 </div>
               </div>
               </footer>-->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div th:replace="fragments/body::modalLogout"></div>
	<!-- end Logout Modal-->

	<!-- jscript -->
	<div th:replace="fragments/head::jscript"></div>
	<!-- end jscript -->
</body>
</html>