<!DOCTYPE html5>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head">
<title>Tambah Barang</title>
</head>
<!-- URL /sipen/EditBarang  -->
<body id="page-top">
	<!-- Header -->
	<nav th:replace="fragments/body::header"></nav>
	<!-- end Header -->
	<div id="wrapper">
		<!-- sidebar -->
		<ul th:replace="fragments/body::samping">
		</ul>
		<!-- end sidebar -->
		<div id="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Form Edit Barang</a></li>
				</ol>
				<!-- Icon Cards-->
				<div class="row"></div>
				<!-- Area Chart Example-->
				<div class="card mb-3"></div>
				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-address-book"></i> Isi form untuk mengedit
						Barang.
					</div>
					<!--Form data pribadi-->
					<div class="card-body">
						<form th:object="${barang}" method="post">
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="namaBarang" class="form-control"
											placeholder="Nama Barang" required="required"
											autofocus="autofocus" th:field="*{namaBarang}"></input> <label
											for="namaBarang">Nama Barang</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="tipe" class="form-control"
											placeholder="Tipe" required="required" th:field="*{tipe}"></input><label
											for="tipe">Tipe</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="number" id="inputTahun" class="form-control"
											placeholder="Tahun" required="required" th:field="*{tahun}"></input>
										<label for="inputTahun">Tahun</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="number" id="hargaJamin" class="form-control"
											placeholder="Harga Jamin" required="required"
											th:field="*{hargaJamin}"></input><label for="hargaJamin">Harga
											Jaminan</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="number" id="inputKuantitasTersedia"
											class="form-control" placeholder="Kuantitas Tersedia"
											required="required" th:field="*{kuantitas}"></input><label
											for="inputKuantitasTersedia">Kuantitas Tersedia</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<a class="btn btn-primary btn-block" href="index.html">Simpan</a>
								</div>
							</div>
						</form>
					</div>
					<!--Form data pribadi end-->
				</div>
				<!--Form data peminjaman end-->
				<div class="card-footer small text-muted">Updated yesterday at
					11:59 PM</div>
			</div>
		</div>
		<!-- /.container-fluid -->
		<!-- Sticky Footer -->
		<!--<footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
              </div>
            </div>
            </footer>-->
	</div>
	<!-- /.content-wrapper -->

	<!-- /#wrapper -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div th:replace="fragments/body::modalLogout"></div>
	<!-- end Logout Modal-->

	<div th:replace="fragments/head::jscript"></div>
</body>
</html>

